/*
	Page Setup
*/
*{
	margin: 0;
	padding: 0;
}
html { 
  
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*::-webkit-input-placeholder{
	opacity: 0.3;
}

body{
	background: url('1534361605964.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	
	padding-top: 5%;
	font: Steelfish;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	width: 1000px;
	height: 100px;
	overflow: auto;
	resize: both;
	
}

p{
	color: #ff0101;
	font-family: Steelfish, Lato, courier new;
	letter-spacing:1px;
	text-align:left;
	font: Steelfish, Lato, courier new;
}

li, a{
	color: #ffffff;
	font-family: Steelfish, Lato, courier new;
	letter-spacing:1px;
	text-align:left;
	font: Steelfish, Lato, courier new;
}
/*
	Favorite
*/
.favorites{
	width: 70%;
	margin: 10px auto 0 auto;
	text-align: center;
}

.favorites p{
	border-bottom: 1px solid #ff0101;
	padding-right: 100%;
}

.list{
	display: inline-block;
	width: 14%;
	margin: 0 5px;
	vertical-align: text-top;
}

.list ul{
	list-style-type: none;
}

a{
	text-decoration: none;
	display: block;
	padding: 2px;
	
}

a:hover{
	color: #222;
	background: #ff0101;
	
}

/*
	Google Pages
*/
.googles{
	width: 90%;
	margin: 60px auto;
	text-align: center;
}

.googles p{
	display: inline-block;
	width: 15%;
	margin: 0 10px;
	border: 1px solid #ff0101;
	text-align: center;
}
.googles a{
	text-align: center;
}
/*
	Search Bars
*/
form{
	width: 90%;
	margin: auto;
	padding: 5px;
	text-align: center;
	position: relative;
	
}
	::placeholder { 
  color: #f8f8ff;
  }
.search{
	width: 400px;
	height: 20px;
	margin-right: -4px;
	padding: 1px;
	background: #000000;
	color: #ff0101;
	border: 1px solid #ffffff;
	text-align: center;

}

.search:focus{
	outline: none;
	border: 1px solid #ff0101;
	box-shadow: 0 0 10px #ff0101;
	transition: 0.50s linear;
	
}

.go{
	height: 26px;
	width: 40px;
	background: #000000;
	color: #ff0101;
	border: 1px solid #ff0101;
}

.go:hover{
	background: #ff0101;
	color: #222;
	cursor: pointer;
	box-shadow: 0 0 10px #ff0101;
}

.go:focus{
	outline: none;
	
}